<!DOCTYPE html>
<html>
<head>
  <title>Lenguajes</title>
  <style media="screen">
    h1 { text-align: center;}
    h2 { text-align: center;
         border:2px solid DodgerBlue; }
  </style>
</head>
<body>
  <h1>Bienvenidos a nuestra plataforma</h1>
  <h2>Lenguajes de Programación</h2>
  <div>
    <h5>Ver los lenguajes de programacion ingresados
    <form action="./listar">
      <input type="submit" value="Ver">
    </form></h5>
  </div>
  <div>
    <h5>Añadir un nuevo lenguaje de programación</h5>
    <form method="GET" action="./agregar">
     <input type="text" name="lenguaje">
     <input type="submit" value="Add">
    </form>
  </div>
</body>
</html>
